.item {
  margin-bottom: 40px;
  background-color: white;
}

.title {
  margin: 10px 0 0 0;
}

.author {
  padding: 20px 0px 5px 0px;
  border-bottom: 1px solid #2196f3;
}

.category {
  margin: 15px 0px;
  font-weight: bold;
}

.continue-btn {
  margin-top: 20px;
  padding: 4px 15px;
  font-size: 17px;
}

.article-img {
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}