<footer class="footer">
  <div class="row">
      <div class="container">
        <div class="logo">
          <a routerLink="/">
            <img src="assets/logo.png" alt="emptyblog" title="emptyblog">
          </a>
        </div>
        <ul class="nav">
            <li>
                <a routerLink="/">HOME</a>
            </li>
            <li>
                <a routerLink="/login">PERSONAL AREA</a>
            </li>
            <li>
                <a routerLink="/contact">CONTACT</a>
            </li>
        </ul>
        <div class="copyright">
            © 2018 - Vinnytsia, Ukraine. All Rights Reserved. Designed & Developed by
            <a class="author-link" href="https://www.linkedin.com/in/alex-yuvkovetskyi/" target="_blank">
                Alexander Yuvkovetskyi
            </a>
        </div>
      </div>
  </div>
</footer>