<div class="row">
    <div class="col-xs-12">
        <button
            class="btn btn-success"
            (click)="addNewArticle()"
        >
            New article
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div *ngIf="role === 'admin' || role === 'moderator'" class="col-xs-12">
        <app-article-item
            *ngFor="let articleElement of articles | paginate: { itemsPerPage: 7, currentPage: p }"
            [article]="articleElement"
        ></app-article-item>
        <pagination-controls *ngIf="articlesAmount > 7" (pageChange)="p = $event"></pagination-controls>
    </div>
    <div *ngIf="role === 'user'" class="col-xs-12">
        <app-article-item
            *ngFor="let articleElement of userArticles | paginate: { itemsPerPage: 7, currentPage: p }"
            [article]="articleElement"
        ></app-article-item>
        <pagination-controls *ngIf="userArticlesAmount > 7" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
