.row {
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  margin-top: 40px;
}

.section-title {
  margin: 0 0 30px 30px;
}

.sidebar-title {
  margin: 0 0 30px 0;
}

.share-article {
  text-align: center;
  margin: 25px 0px;
  background-color: white;
  padding: 14px;
}

.categories {
  background-color: white;
  padding: 15px;
}

.category-header {
  text-align: center;
  font-size: 1.5em;
}

.category-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.category-list-item {
  margin-top: 15px;
}

.photo {
  margin-top: 30px;
  padding: 10px;
  background-color: white;
}

.filters {
  display: flex;
  align-items: baseline;
}

.filter-button {
  padding: 5px;
  border: 2px solid #2196f3;
  font-size: 1em;
  color: #2196f3;
  background-color: white;
  &:active {
    transform: none;
    box-shadow: none;
  }
}

.revert-button {
  min-width: 160px;
  background-color: white;
  transition: background-color 0.7s ease;
  color: #2196f3;
  border: 1px solid #2196f3;
  &:hover {
    background-color: #2196f3;
    color: white;
  }
  &:focus {
    background-color: #2196f3;
    color: white;
  }
}


@media (max-width: 769px) {
  .sidebar {
    display: none;
  }
}


@media (max-width: 992px) {
  .revert-button {
    min-width: 120px;
    font-size: 20px;
  }
  .categories {
    background-color: white;
    padding: 10px;
  }
}