<div class="row">
    <div class="container">
        <div class="col-xs-12 col-md-9 primary">
            <div *ngIf="articles" class="articles">
              <div class="col-xs-12 filters">
                  <h2 class="section-title col-xs-8">ARTICLES</h2>
                  <!-- <div class="col-xs-4">
                      <button class="action-button filter-button" (click)="reverse()">New first/Old first</button>
                  </div> -->
              </div>
               
                <app-main-article
                    class="col-xs-12 article"
                    *ngFor="let articleElement of articles | paginate: { itemsPerPage: 4, currentPage: p } "
                    [article]="articleElement"
                >
                </app-main-article>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
        <div class="col-md-3 sidebar">
          <h2 class="sidebar-title">SIDEBAR</h2>
          <div *ngIf="user" class="photo">
            <img src="{{ photo }}" alt="user photo" title="user photo" class="img-responsive">
          </div>
          <div class="share-article">
            <button class="action-button" (click)="onShare()">SHARE YOURS</button>
          </div>
          <!-- <div class="categories">
            <h4 class="category-header">CATEGORIES</h4>
            <ul class="category-list">
              <li class="category-list-item">News</li>
              <li class="category-list-item">Sport</li>
              <li class="category-list-item">Tech</li>
              <li class="category-list-item">Science</li>
              <li class="category-list-item">Other</li>
            </ul>
          </div> -->
        </div>
    </div>
</div>
