<div class="row">
    <div *ngIf="articles" class="container">
        <div class="col-xs-12 col-sm-9 articles">
          <div class="col-xs-12 filters">
              <h2 class="section-title col-xs-8">ARTICLES</h2>
              <!-- <div class="col-xs-4">
                  <button class="action-button filter-button" (click)="reverse()">New first/Old first</button>
              </div> -->
          </div>
            
            <app-main-article
                class="col-xs-12 article"
                *ngFor="let articleElement of articles | paginate: { itemsPerPage: 4, currentPage: p } "
                [article]="articleElement"
            >
            </app-main-article>
            <pagination-controls *ngIf="articles.length > 4" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="col-sm-3 sidebar">
          <h2 class="sidebar-title">SIDEBAR</h2>
          <div *ngIf="user" class="photo">
            <img src="{{ photo }}" alt="user photo" title="user photo" class="img-responsive">
          </div>
          <div class="share-article">
            <button class="action-button" (click)="onShare()">SHARE YOURS</button>
          </div>
          <div class="categories">
            <h4 class="category-header">TAGS</h4>
            <ul class="category-list">
              <li class="category-list-item">
                <button class="action-button revert-button" (click)="getArticlesByCategory('News')">News</button>
              </li>
              <li class="category-list-item">
                <button class="action-button revert-button" (click)="getArticlesByCategory('Sport')">Sport</button>
              </li>
              <li class="category-list-item">
                <button class="action-button revert-button" (click)="getArticlesByCategory('Tech')">Tech</button>
              </li>
              <li class="category-list-item">
                <button class="action-button revert-button" (click)="getArticlesByCategory('Health')">Health</button>
              </li>
              <li class="category-list-item">
                <button class="action-button revert-button" (click)="getArticlesByCategory('Other')">Other</button>
              </li>
              <li class="category-list-item">
                <button class="action-button revert-button" (click)="getAllArticles()">Show All</button>
              </li>
            </ul>
          </div>
        </div>
    </div>
</div>
