<a
    [routerLink]="['/control-panel/articles', article.aid]"
    routerLinkActive="active"
    class="list-group-item clearfix"
>

    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ article.title }}</h4>
        <p class="list-group-item-text">{{ article.description }}</p>
        <h6 *ngIf="author">by <strong>{{ author }}</strong></h6>
    </div>
    <div class="pull-right article-image">
        <img
            src="{{ article.profile_picture }}"
            class="img-responsive"
        >
    </div>
</a>
