* {
  color: white;
}

.nav-item {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.head {
  background-image: url('/assets/header_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-header,
.nav {
	display: flex;
  flex-direction: column;
}

.mobile-menu {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
}

.mobile-menu:checked ~ #nav {
  display: inline-block;
}

.hamburger {
  width: 30px;
  height: 30px;
}
.hamburger .burger-line {
  display: block;
  margin: 5px auto;
  background-color: white;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  transition: all .5s ease;
}
.hamburger:hover .burger-line:first-child {
  transform: translateY(-5px);
}
.hamburger:hover .burger-line:last-child {
  transform: translateY(5px);
}

.nav li:last-child a {
  border-right: 0px;
}

.nav a {
	display: flex;
  align-items: center;
	font-size: 1.125em;
	text-align: center;
  padding: .4em;
  border-right: 1px solid white;
  padding-right: 20px;
  &:hover {
    color: white;
    text-decoration: underline;
    background-color: transparent;
  }
  &:focus {
    color: white;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
  }
}

.phone-img {
      padding: 30px;
      border-radius: 50%;
      background: #2196f3;
}

.phone-text {
  margin-left: -25px;
}

.head_main {
  margin: 0 20%;
  padding-bottom: 50px;
  text-align: left;
}

.head__main__caption {
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  font-size: 4em;
}

.head__middling__caption {
  text-align: center;
  font-size: 2em;
  margin: 40px 0px;
}



// Carousel

.carousel-item {
  box-shadow: none;
}

.carousel-image{
  max-height: 200px;
  max-width: 200px;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 40px;
    background-color: #2196f3;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 100px;
    left: 0;
    user-select: none;
    outline: none;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 40px;
    background-color: #2196f3;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 100px;
    right: 0;
    user-select: none;
    outline: none;
}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) and (max-width: 1200px) {
  .head_main {
    margin: 0 10%;
  }
  #navigation {
    margin-top: 100px;
  }
}

@media (min-width: 1025px) {
	.main-header {
    flex-direction: row;
    justify-content: space-around;
	}
	.site-logo {
		margin-right: auto;
	}
	.nav {
		margin-top: 0;
		align-self: center;
	}
	.nav-item {
		margin-left: .65em;
		margin-right: .65em;
  }
}


@media (max-width: 1025px) {
  .nav a {
    font-size: 1.3em;
    padding-right: 10px;
  }
  .head__main__caption {
    margin-top: 50px;
    text-align: center;
  }
}


@media (min-width: 769px) {
  .main-header {
    align-items: center; 
	}
  .hamburger {
    display: none;
  }
	.nav {
		flex-direction: row;
		justify-content: space-between;
	}
	.nav a {
		border-bottom-color: transparent;
  }
  .leftRs {
    left: -50px;
  }
  .rightRs {
    right: -50px;
  }
}

@media (max-width: 769px) {
  #navigation {
    margin-top: 50px;
  }
  .logo {
    display: flex;
    align-items: baseline;
    text-align: center;
    justify-content: space-around;
    margin-top: 30px;
  }
	.nav {
    display: none;
    padding: 0;
  }
  .nav a {
    justify-content: center;
    border-bottom: 1px solid white;
  }
  .nav-item {
    display: block;
  }
  .phone-img {
    padding: 0px;
  }
  .phone-text {
    margin-left: 0px;
  }
  .head_main {
    margin: 0 auto;
    text-align: center;
  }
  .team__content {
    margin: 0 10%;
    text-align: left;
  }
  .head__main__caption {
    margin-top: 50px;
  }
  .head__middling__caption {
    font-size: 1.5em;
  }
}


