<div *ngIf="article" class="row">
  <div class="col-xs-12">
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title" class="form-control">
          </div>
        </div>
      </div>

      <div *ngIf="id" class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Author</label>
            <div type="text" id="author">{{ authorName }}</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath" formControlName="imagePath" #imagePath class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" formControlName="category" id="category">
              <option value="News">News</option>
              <option value="Sport">Sport</option>
              <option value="Tech">Tech</option>
              <option value="Health">Health</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="text">Article text</label>
            <textarea type="text" id="text" formControlName="text" class="form-control" rows="10"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!articleForm.valid">Save</button>
          <button *ngIf="editMode" type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
        </div>
      </div>

    </form>
  </div>
</div>
