<div class="row section">
    <div class="map col-xs-12 col-md-6 pull-left">
        <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="true"
        >

            <agm-marker
                *ngFor="let m of markers; let i = index"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label"
            >

            </agm-marker>

        </agm-map>
    </div>
    <div class="col-xs-12 col-md-6 info">
      <div class="contact">
          <img class="contact-item-img" src="assets/contacts.png" alt="contact" title="contact">
          <h4 class="contact-item contact-header">Our contact info</h4>
          <div class="contact-item">
              <img class="contact-item-img" src="assets/phone_number.png" alt="phone" title="phone">
              <span class="contact-info">+38 (063) 000-00-00</span>
          </div>
          <div class="contact-item">
              <img class="contact-item-img" src="assets/Skype.png" alt="skype" title="skype">
              <span class="contact-info">triathalex</span>
          </div>
          <div class="contact-item">
              <img class="contact-item-img" src="assets/mail.png" alt="mail" title="mail">
              <span class="contact-info">alexander.yuvkovetskyi@gmail.com</span>
          </div>
          <div class="contact-item">
              <img class="contact-item-img" src="assets/pin.png" alt="location" title="location">
              <span class="contact-info">Vinnytsia, Ukraine</span>
          </div>
      </div>
  </div>
</div>
